/*--------------------------*/
/*------Basic Set Up--------*/
/*--------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*  font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/
      font-size: 1.6rem;
      line-height: 1.3;
     
  }



html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
ul li{
    list-style-type: none;
}
/*heading*/
h1{
    font-size: 2.3rem;
    color: #fff;
   
    text-align: center;
}
.clear-fix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;

}




/*--------------------------*/
/*------Reuseable component--------*/
/*--------------------------*/
.row{
    max-width: 1024rem;
    margin: auto ; 
   
   
}
section{
    padding: 0rem 0rem;
   
    
}
/*buuton*/
.btn:link,
 .btn:visited,
 .btn{
    background: #df1c1c;
   
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    display: inline-block;
    margin-top: 4rem;
    font-size: 1.6rem;
}
h1{
    font-size: 10.4rem;
    text-transform: uppercase;
   
    font-weight: 700;
    margin: 0rem 4rem;
    font-family: 'Alfa Slab One', cursive;
}
h2{
    

  font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
   
    margin: -1rem 0 0rem 4rem;
    font-family: 'Alfa Slab One', cursive;
   
}

h3{
  
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
   

}
h4{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    
}
h5{
    font-size: 2rem;
    text-transform: capitalize;
    border: 0.1rem dashed;
    padding: 0.5rem;
  
    margin: 13rem 0 0 4rem;
      font-family: 'Bebas Neue', cursive;
}
p{
    font-family: 'Montserrat', sans-serif;
}

/*paragraph*/

/*--------------------------*/
/*------header Section--------*/
/*--------------------------*/

.header-section{
    background:url(../images/header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  
    
}
.logo-img{
    height: 50px;
    margin: 0 4rem;
}
.header-section h5{
    font-size: 2rem;
    text-transform: capitalize;
    border: 0.1rem dashed;
    padding: 0.5rem;
    margin-left: 4rem;
}
/*main navigation*/

.main-nav {
   
    margin-top: 4rem;
}
.main-nav li{
    display: inline-block;
   
    margin-left: 1rem;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li a:link,
.main-nav li :visited{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  
    padding: 0.3rem 1.1rem;
    border-radius: 3px;
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', cursive;
    
}
.main-nav li:hover a:link,
.main-nav li :visited{
   background:  rgba(245, 173, 19, 0.753) !important; 
    transition: 1s;
}
.active{
    background:  rgba(245, 173, 19, 0.753) !important; 
    border-radius: 0.3rem;
}
/*main header*/

.header-img{
    width: 100%;
}
.price {
        
    height: 100px;
      width: 100px;
      border-radius: 50%;
      background: red;
    position: absolute;
    top: 72%;
    left: 52%;
    text-align: center;
   
   
}
.price h3{
    border: 2px dashed #fff;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: red;
    padding: 4px;
    margin: 5px 0px 0px 5px;
    text-align: center;
    padding: 13px;
    color: #fff;
}
.header-section h1{
    font-family: 'Alfa Slab One', cursive;
}
.header-section h2{
    font-family: 'Alfa Slab One', cursive;
}

/*--------------------------*/
/*------banar Section--------*/
/*--------------------------*/
.banarSection{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    height: 50vh;
}
.banarSection h4{
    padding: 18px 0 0 24px;
}
.banarSection h3{
    padding-left: 18px ;
}
.banar1{
   margin: 4rem 0rem 0rem 3rem;
    width: 100%;
  
    height: 27rem;
    background: url(../images/banar001.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0.5rem;
   
}
.banar2{
    width: 82%;
    margin: 4rem 1rem 1rem 4rem;
   
    height: 13rem;
    margin-bottom: 1rem;
    background: url(../images/banar2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banar3{
      width: 82%;
    margin: 1rem 1rem 1rem 4rem;
   
    height: 13rem;
    margin-bottom: 1rem;
    background: url(../images/banar3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*--------------------------*/
/*------item Section--------*/
/*--------------------------*/


.iteamSection{
   text-align: center;
   margin-top: 8rem;
 
}
.iteamSection h2{
    margin: 1.5rem 0;
}
.iteamSection h4{
    background: #ffc64d;
    display:inline;
    padding: .2rem .5rem;

}
.itemContent p{
   width: 80%;
    margin-left: 10%;
    margin: 0 0 2rem 10%;
    font-size: 17px;
   
    text-transform: capitalize;
}
.iteamSection h3{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 1rem 0;
}
.exterpadding{
    margin-top: 1rem !important;
}
.item1 img{
    width: 60%;
    margin-top: 2.5rem;
   

}
.shado-item{
    width: 60%;
    margin-top: 0 !important;
}
/*--------------------------*/
/*------event Section--------*/
/*--------------------------*/
.eventSection{
   margin-top: 6rem;
   margin-bottom: 2rem;
    
}
.event-shado{
  
    box-shadow: 1px 1px 5px !important;
    width: 90%;
    margin-left: 5%;
   
}
.event-content{
    margin-left: 2rem;
   
}
.event-content h4{
   
    margin-left: 3rem;
    font-size: 20px;
    margin-top: 30px;

}
.event-content h2{
   font-size: 30px;
    width: 80%;
    margin: 0.2rem 0 0 3rem;
}

.event-content p{
    width: 80%;
    text-transform: capitalize;
    margin: 0.5rem 0 0 3rem;
}
.event-imgages{
   
}
.event-imgages img{
    width: 95%;
    margin-right: 5%;
}
/*--------------------------*/
/*------table Section--------*/
/*--------------------------*/
.tableSection{
    width: 100%;
    background: url(../images/table.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 500px;
   
    padding: 4rem 0 0 0;
}
.tableSection h4{
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}
.tableSection h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 0rem 0 0rem 4rem;
}
.tableSection .btn{
    margin: 0;
}
.input-name{
    
    width: 60%;
}
input{
        padding: 9px 14px;
        width: 90%;
        text-transform: capitalize;
}
/*--------------------------*/
/*------footer Section--------*/
/*--------------------------*/
.footer-section{
   
   
   height: 500px;
   color: #fff;
   position: relative;
}
.main-footer{
     width: 90%;
     margin-left: 5%;
    background: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
   height: 300px;
   color: #fff;
   position: relative;
}
.footer-logo{
  
}
.footer-logo img{
       height: 50px;
    margin: 2rem 0 0 2rem;
}
.footer-logo p{
   font-size: 1.8rem;
    text-transform: capitalize;
    margin: 3rem 1rem 0 2rem;
}
.footer-content{
       margin-top: 20%;
    text-align: start;
    margin-left: 20%;
}
.copyright{
    font-size: 1.5rem !important;
    margin-top: 7rem !important;
}
.footer-content a{
       text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.footer-content  i{
   margin: 1rem 2rem 0 0;
}
.foote-icons a{
    text-decoration: none;
    color: #fff;
   
    font-size: 25px;
    background: #fff;
    color: #000;
    border-radius: 50%;
     height: 70px;
     width: 70px;
    padding: 4px;
    margin-left: 1rem;

   
   
}
.foote-icons {
    

    position: absolute;
    bottom: 16px;
    left: 77%;
     
}